<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    id="cordova-nice-plugin"
    version="0.0.1">

  <name>CordovaNicePlugin</name>
	<author>Eastsky Kang</author>

	<description>
		Nice plugin for iOS application.
	</description>

	<license>MIT</license>

	<js-module src="www/nice.js" name="NicePay">
        <clobbers target="NicePay" />
	</js-module>

	<engines>
		<engine name="cordova" version=">=3.0.0" />
	</engines>

	<!-- ios -->
	<platform name="ios">

		<config-file target="config.xml" parent="/*">
			<feature name="NicePay">
				<param name="ios-package" value="NicePay"/>
			</feature>
		</config-file>

		<source-file src="src/ios/AppDelegate+NicePayment.m" />
		<source-file src="src/ios/PaymentWebViewController.m" />

		<header-file src="src/ios/AppDelegate+NicePayment.h" />
		<header-file src="src/ios/PaymentWebViewController.h" />
	</platform>
</plugin>
